
<center><h4 id="allo">My Movies</h4>

<div class="container">
  <div class="row">
    <div class="col s12">
        <div class="honeycombs">
              <% @saved.each do |response| %>
              <%puts 'response', response.inspect%>
              <div class="col s12 m6 l4">
                <div class="comb">
                    <img src= <%= response.posters %> >
                    <span>
                    <%= response.title %><br>
                    <%= link_to "VIEW", {action: :one_result, movie_id: response.movie_id, title: response.title, user_id: current_user.id }, method: :post %> <br>
                    <%= link_to 'Delete',  { action: :destroy, id: response.id }, method: :delete%>
                  </span>
              <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.honeycombs').honeycombs({
      combWidth: 250,
      margin: 10
    });
  });
</script>
